.post-preview {
	width: 100%;
	padding: 0 20px;
	margin-top: $spacer-lg;

	@media all and (min-width: $md) {
		width: 50%
	}

	&:first-child,
	&:nth-child(2) {
		margin-top: 0
	}

	&-inner {
		box-shadow: $shadow
	}

	&-thumb {
		width: 100%;
		height: 240px;

		a {
			width: 100%;
			height: 100%
		}
	}

	&-info {
		padding: $spacer-xs 15px
	}

	&-title {
		font-size: $fs-xl;
		margin-bottom: $spacer-xs;

		a {
			color: $dark;

			&:hover {
				color: $violet
			}
		}
	}

	&-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center
	}

	&-button {
		&:hover {
			i {
				color: $violet
			}
		}

		i {
			font-size: 24px;
			color: $lightgray;
			transition: color ease-out $tr;
		}
	}
}

.post-terms {
	display: flex;
	flex-wrap: wrap
}

.post-term {
	font-size: $fs-sm;
	color: $lightgray;
	margin: 0 $spacer-xs 5px 0;

	&:last-child {
		margin-right: 0
	}

	&:hover {
		color: $violet
	}
}

.post-date {
	font-size: $fs-xs;
	line-height: 14px;
	color: $lightgray;
	margin-top: auto
}

.post-stats {
	display: flex;

	&-item {
		display: flex;
		align-items: center;
		color: $lightgray;
		margin-right: $spacer-xs;

		&:last-child {
			margin-right: 0
		}

		&.reactions {
			position: relative;
			color: $violet;
			cursor: pointer;
			margin-left: $spacer-sm;
			border-radius: $radius-1;
			transition:
				opacity ease-out $tr,
				padding ease-out $tr,
				background-color ease-out $tr;

			&:hover {
				opacity: 0.75
			}

			&.you-liked {
				background-color: $red;
				padding: 0 8px;

				i, span {
					color: $white
				}

				span {
					font-weight: $fw-medium
				}
			}

			span.loader {
				position: absolute;
				top: 50%;
				left: 100%;
				transform: translate($spacer-xs, -50%);

				i {
					color: $lightgray;
					font-size: $fs-lg;
					margin: 0;
					animation: rotate ease-in-out infinite 1s
				}
			}
		}

		i, span {
			transition: color ease-out $tr
		}

		i {
			margin-right: 5px
		}
	}
}