.post-stats {
	display: flex;

	&-item {
		display: flex;
		align-items: center;
		color: $lightgray;
		margin-right: $spacer-xs;

		&:last-child {
			margin-right: 0
		}

		&.reactions {
			position: relative;
			color: $violet;
			cursor: pointer;
			margin-left: $spacer-sm;
			border-radius: $radius-1;
			transition:
				opacity ease-out $tr,
				padding ease-out $tr,
				background-color ease-out $tr;

			&:hover {
				opacity: 0.75
			}

			&.you-liked {
				background-color: $red;
				padding: 0 8px;

				i, span {
					color: $white
				}

				span {
					font-weight: $fw-medium
				}
			}

			span.loader i {
				color: $lightgray
			}
		}

		i, span {
			transition: color ease-out $tr
		}

		i {
			margin-right: 5px
		}
	}
}