.form-login,
.form-register {
    label {
        margin-bottom: $spacer-xs;

        &:last-of-type {
            margin-bottom: 0
        }
    }

    .form-submit {
        margin-top: $spacer-md
    }
}